<div class="empty-wrapper">
  <div class="col-md-8">
    <table class="table  cust-table  table-striped table-condensed grid table-games"  id="result-tbl">
    <thead>
        <tr>
            <th>#</th>
            <th>Дата</th>
            <th>Час</th>
            <th>Мач</th>
            <th>Резултат</th>
        </tr>
    </thead>
      <tr  ng-cloak ng-repeat="(key,value) in results.slice(44)" >
          <td>{{$index+1}}</td>
          <td>{{value.date | date:'dd-MM'}}</td>
          <td>
            <span ng-if="value.status == 'FINISHED' || value.status == 'TIMED'"> {{value.date | date:'HH:mm'}}ч</span>
              <span ng-if="value.status == 'IN_PLAY'" class="liveTime">{{currentGameTime}}</span>
            <span ng-if="value.status == 'IN_PLAY'"class="isLive3"></span>
          </td>
          <td>
            <div class="td-exp">
              <div class="td-exp-inner" data-target="#score" data-toggle="modal" ng-click="getLastFiveGames(value._links.homeTeam.href,value.homeTeamName)">{{value.homeTeamName}}</div>
              <div class="td-exp-inner-2"><span class="team-flag"ng-init = "homeT = getFlag(value.homeTeamName)">
                <img alt="flag"ng-src="{{homeT}}" /></span></div> <div class="td-exp-inner-3">-</div>
                <div class="td-exp-inner-2"><span class="team-flag"ng-init = "awayT = getFlag(value.awayTeamName)">
                  <img alg="flag"ng-src="{{awayT}}" /></span></div>
                  <div class="td-exp-inner" data-target="#score" data-toggle="modal" ng-click="getLastFiveGames(value._links.awayTeam.href,value.awayTeamName)">{{value.awayTeamName}}</div>
                </div>
              </td>
          <td>
            <span ng-if="value.status === 'FINISHED'">{{value.result.goalsHomeTeam}}</span>
            <span ng-if="value.status === 'IN_PLAY' && $index === currentIndexPlaying">{{currentHomeScore}}</span>
            <span ng-if="value.status === 'IN_PLAY' && $index != currentIndexPlaying">{{value.result.goalsHomeTeam}}</span>
            <span ng-if="value.result.goalsHomeTeam != null">:</span>
            <span ng-if="value.status === 'FINISHED'">{{value.result.goalsAwayTeam}}</span>
            <span ng-if="value.status === 'IN_PLAY' && $index === currentIndexPlaying">{{currentAwayScore}}</span>
            <span ng-if="value.status === 'IN_PLAY' && $index != currentIndexPlaying">{{value.result.goalsAwayTeam}}</span>
            <span ng-if="value.status === 'FINISHED'" class="kr" data-toggle="tooltip"
            data-placement="right" title="Краен Резултат">КР</span>
          </td>
      </tr>

  </table>
  </div>
    <div class="col-md-4">
      <table  class="table  cust-table table-striped table-condensed results-table grid"  id="rsTable" >
        <thead>
            <tr>
                <th>#</th>
                <th>Николай</th>
                <th>Иван</th>
                <th>Силвия</th>
            </tr>
        </thead>

          <tr  ng-cloak ng-repeat="(key,value) in bets123.slice(44)"  >
              <td>{{$index+1}}</td>
              <td class="inputBet">
                <div ng-if="getCorrectColor($index+44,value.nikolay) === 'won'" class="bet-won-color" >
                  <input  class="inputNik" type="text"  name="nik" value="{{value.nikolay}}" ng-blur="nickChangeInput($index+44,value.nikolay)" ng-model="value.nikolay" >
                </div>
                <div ng-if="getCorrectColor($index+44,value.nikolay) === 'lost'" class="bet-lost-color" >
                  <input  class="inputNik" type="text"  name="nik" value="{{value.nikolay}}" ng-blur="nickChangeInput($index+44,value.nikolay)" ng-model="value.nikolay" >
                </div>
                <div ng-if="getCorrectColor($index+44,value.nikolay) === 'non'" >
                  <input  class="inputNik" type="text"  name="nik" value="{{value.nikolay}}" ng-blur="nickChangeInput($index+44,value.nikolay)" ng-model="value.nikolay" >
                </div>
              </td>
              <td class="inputBet">
                <div ng-if="getCorrectColor($index+44,value.ivan) === 'won'" class="bet-won-color" >
                  <input  class="inputIvan" type="text"  name="123" value="{{value.ivan}}" ng-blur="ivanChangeInput($index+44,value.ivan)" ng-model="value.ivan" >
                </div>
                <div ng-if="getCorrectColor($index+44,value.ivan) === 'lost'" class="bet-lost-color" >
                  <input  class="inputIvan" type="text"  name="123" value="{{value.ivan}}" ng-blur="ivanChangeInput($index+44,value.ivan)" ng-model="value.ivan" >
                </div>
                <div ng-if="getCorrectColor($index+44,value.ivan) === 'non'" >
                  <input  class="inputIvan" type="text"  name="123" value="{{value.ivan}}" ng-blur="ivanChangeInput($index+44,value.ivan)" ng-model="value.ivan" >
                </div>
              </td>
              <td class="inputBet">
                <div ng-if="getCorrectColor($index+44,value.silviq) === 'won'" class="bet-won-color" >
                  <input  class="inputSil" type="text"  name="sd" value="{{value.silviq}}" ng-blur="silChangeInput($index+44,value.silviq)" ng-model="value.silviq" >
                </div>
                <div ng-if="getCorrectColor($index+44,value.silviq) === 'lost'" class="bet-lost-color" >
                  <input  class="inputSil" type="text"  name="sd" value="{{value.silviq}}" ng-blur="silChangeInput($index+44,value.silviq)" ng-model="value.silviq" >
                </div>
                <div ng-if="getCorrectColor($index+44,value.silviq) === 'non'" >
                  <input  class="inputSil" type="text"  name="sd" value="{{value.silviq}}" ng-blur="silChangeInput($index+44,value.silviq)" ng-model="value.silviq" >
                </div>
              </td>

          </tr>

      </table>
    </div>
</div>
